<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Detector de misoginia</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Misogyny detector v0.3</h3>
      </div>
    </header>

    <main class="px-3">
      <h1>Inteligencia Artificial</h1>
      <p class="lead">Herramienta creada para la detección de misoginia en textos.</p>
      <p class="lead">
        <a href="#" class="btn btn-sm btn-primary fw-bold" id="addTextButton">+ Agregar nuevo texto</a>
      </p>
      <label for="message">Ingresar textos:</label>

      <div id="textos">
        <div class="mb-3">
          <textarea name="text[]" class="cnt form-control" cols="30" rows="1"></textarea>
        </div>
      </div>
      <input class="btn btn-success" type='button' id='saveBtn' value='Enviar'>
    </main>

    <div class="container" id="resultados" style="display: none;">
      <hr>
      <label for="message">Resultados:</label>
      <table class="table text-white">
        <thead>
          <tr>
            <th>Texto</th>
            <th>Misoginia</th>
            <th>Categoría 1</th>
            <th>Categoría 2</th>
            <th>Categoría 3</th>
            <th>Categoría 4</th>
            <th>Personal</th>
            <th>Grupos</th>
          </tr>
        </thead>
        <tbody id="bodyTable">

        </tbody>
      </table>
      <hr>
    </div>

    <footer class="mt-auto text-white">
      <label for="message">Preguntas y respuestas: </label>
      <p> <a href="#" onclick="explicacionResultados()"> ¿Necesitas ayuda con los resultados?</a> <a href="#" onclick="disclaimer()" >¿No concuerdas con los resultados? </a>  <a href="https://www.europarl.europa.eu/news/es/headlines/society/20200827STO85804/que-es-la-inteligencia-artificial-y-como-se-usa"> ¿Qué es la Inteligencia artificial? </a>  <a href="https://drive.google.com/file/d/1VmE6u9ARVVE-su6CLV0whcx4yW6lQa35/view?usp=sharing">¿Comó funciona esta IA?</a></p>
    </footer>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const loaderAlert = () => {
  Swal.fire({
    title: "Por favor, espere estamos clasificando los resultados, esto puede tardar algúnos minutos",
    html: "Cargando información necesaria...",
    allowOutsideClick: !1,
    showConfirmButton: false,
    willOpen: () => {
      Swal.showLoading();
    },
  });
};

const explicacionResultados = () => {
  Swal.fire({
    title: "",
    width: 2000,
    html: `      <table class="table text-black">
        <thead>
          <tr>
            <th>Categoría 1</th>
            <th>Categoría 2</th>
            <th>Categoría 3</th>
            <th>Categoría 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>"Estereotipo: define aquellos mensajes cuyo contenido hace referencia a un
estereotipo u objetificación. Son mensajes que hablan de una imagen o una
idea generalizada y simplificada de la mujer. Suelen estar relacionados con
aspectos referentes al físico y tienden a realizar comparaciones con estándares impuestos."</td>  
            <td>Desvío de atención: definen mensajes que tienden a desviar la atención de un problema y con el fin de justificar el abuso   se rechaza la responsabilidad masculina. Es una forma de interrumpir la conversación y redirigirla a un ámbito más cómodo para los hombres</td>  
            <td>Ataque sexual: hace referencia a mensajes en los que está presente acciones de acoso sexual o amenazas violentas con el fin de afirmar el poder</td>  
            <td>Descrédito/desprestigio: hace referencia a casos de desprestigio hacia una mujer. El fin de
estos tweets es hablar mal de una mujer sin ningún otro objetivo.</td>  
          </tr>
        </tbody>
      </table>`,
  });
};

  $("#addTextButton").click(function () {
    const html = `<div class="mb-3"><textarea name="text[]" class="cnt form-control" cols="30" rows="1"></textarea></div>`;
    $("#textos").append(html);
  })

  $("#saveBtn").click(function () {
    const arr = [];
    $(".cnt").each(function () {
      arr.push($(this).val());
    });
    loaderAlert();
    $("#resultados").css('display', 'none');
    $.ajax({
      url: '{{url_for("checkMessage")}}',
      type: "post",
      data: { textos: arr },
      success: function (res) {
        const respuesta = JSON.parse(res);
        console.log(respuesta);
        fillTable(respuesta,arr)
        Swal.close();
      },
    });

  });

  const fillTable = (respuesta, textos) =>{
    let html = ``;

    textos.forEach((txt, index) => {

      html +=
        `<tr>
          <td>${txt}</td>
          <td>${respuesta.label[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.category1[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.category2[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.category3[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.category4[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.single[index]  ? "Afirmativo": "Negativo" }</td>
          <td>${respuesta.groups[index]  ? "Afirmativo": "Negativo" }</td>
        </tr>`;
    });
    $("#bodyTable").html('');
    $("#bodyTable").append(html);
    $("#resultados").css('display', 'block');
    
    const reload = `<div class="mb-3"><textarea name="text[]" class="cnt form-control" cols="30" rows="1"></textarea></div>`;
    $("#textos").html(reload);
  }
  const disclaimer = ()=>{
    Swal.fire('Los resultados de la inteligencia artificial están basados en el análisis matemáticos de un conjunto de textos establecidos como misóginos o no misóginos, el resultado puede fallar o discordar de la realidad si este contiene palabras establecidas como clave en un contexto no clasificado como misógino. Esta aplicación está en desarrollo y los resultados no deben tomarse como una clasificación oficial, Se recomienda la búsqueda de ayuda profesional en caso sea necesario ')
  }

</script>

</html>